.WeatherForecast {
    text-align: center;
}

.forecast-date {
  font-size: 16px;
  color: #5F6368;
}

.forecast-temperature {
  font-size: 13px;
  color: #5F6368;
}


.forecast-temp-min {
  opacity: 0.8;

}
.row {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
