.Weather, .Source {
    color: #5F6368;
    font-family: "Nunito", sans-serif;
}
.Weather {
  border: 1px solid #D2D2D2;
  border-radius: 15px 0px;
  margin: 10px auto;
  padding: 5px 10px;
  
}

.temperature-today {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  
  font-weight: bold;
  padding-top: 50px;
}

.temperature-today .active {
  color: #5f6368;
  cursor: default;
  text-decoration: none;
}

.temperature-today .fahrenheit {
  text-decoration: none;
}

.temperature-today .active:hover {
  text-decoration: none;
}
canvas {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: auto;
  padding: 0;
}
.other-today {
  display: block;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.maybe {
  padding-top: 25px;
  font-size: 25px;
  font-weight: 600;
}
.today {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
}



.form_search {
  margin-top: 15px;
  color: #5F6368;
}

.btn {
  margin-left: 5px;

}
.btn:focus {
  box-shadow: 0 0 0 0.15rem #D2D2D2;
}