.WeatherForecast {
    text-align: center;
}

.forecast-date {
  font-size: 16px;
  color: #5F6368;
}

.forecast-temperature {
  font-size: 13px;
  color: #5F6368;
}


.forecast-temp-min {
  opacity: 0.7;

}
.row {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
